/FoodCourt/nbproject/private/
/test/nbproject/private/
/JavaFXApplication31/nbproject/private/
/JavaFXApplication31/build/
/Abdullah/nbproject/private/
/Abdullah/build/
/Abd/nbproject/private/
/FoodCourt_abd/nbproject/private/
/FoodCourt/dist/
FoodCourt/dist/FoodCourt.jar
*.jar
*.jar.properties
*.jnlp
