/FoodCourt/nbproject/private/
/test/nbproject/private/
/JavaFXApplication31/nbproject/private/
/JavaFXApplication31/build/
/Abdullah/nbproject/private/
/Abdullah/build/
/Abd/nbproject/private/
/FoodCourt_abd/nbproject/private/
/FoodCourt/dist/
*.properties
*.jnlp
*.jnlp
*.properties
*.properties
FoodCourt/dist/FoodCourt.jnlp
FoodCourt/build/built-jar.properties
/FoodCourt/dist/FoodCourt.html/
FoodCourt/build/built-jar.properties
*.jar
/FoodCourt/build
